body
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

#area
{
    height: 100vh;
    width: 100%;
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.5s;
    background-color: #111;
}
#area video
{
    height: 100%;
    width: 100%;
    object-fit: cover;
    pointer-events: none;
}
header
{
    width: 90%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}
header h2
{
    color: #fff;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 5px;
    cursor: pointer;
}
#open-img
{
    position: relative;
    height: 22px;
    width: 30px;
    background: url(menu.png);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    font-size: 25px;
}
#open-img:hover
{
    transform: scale(1.1);
    transition-duration: 0.5s;
}
#overlay
{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(to left,#00f,#f00);
    mix-blend-mode: overlay;
    pointer-events: none;
}

#content
{
   position: absolute;
   left: 0;
   width: 70%;
   padding:40px;
}
#content h2
{
    color: #fff;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing:15px;
}
#content p
{
    color: #fff;
    width: 70%;
    font-weight: 400;
    letter-spacing: 1.5px;
}
#content a
{
    display: inline-block;
    padding: 10px;
    color: #111;
    cursor: pointer;
    background-color: #fff;
    width: 80px;
    text-align: center;
}

.menu
{
    height:100vh;
    width: 0%;
    background:#fff;
    position: absolute;
    right: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    display: none;
}
.menu2
{
    width: 25%;
    display: flex;
    pointer-events: all;
}

.menu a
{
    color: #111;
    text-decoration: none;
    padding-top: 20px;
    text-transform: uppercase;
    transition-duration: 0.5s;
}
.menu a:hover
{
    border-bottom: 1px solid gold;
    transition-duration: 0.5s;
    transform: scale(1.1);
}
#close
{
    width: 80%;
    position: absolute;
    top: 20px;
    text-align: end;
}
#close img
{
    height: 22px;
    width: 25px;
    filter: invert(1);
    cursor: pointer;
    transition-duration: 0.5s;
}
#close img:hover
{
    transform: scale(1.1);
    transition-duration: 0.5s;
}

#con
{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    pointer-events: none;
    position: absolute;
    bottom: 0;
    color: #fff;
}


@media (max-width:767px)
{
    header
    {
        width: 80%;
        padding: 40px;
        justify-content: space-between;
    }
    .menu2
    {
        width: 100%;
    }
}